@use '../../styles/variable.scss' as var;

.product-card {
    background-color: var.$white-color;
    border: 1px solid var.$border-color;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    &__image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
    }

    &__info {
        padding: 15px;
    }

    &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 10px;
        height: 44px;
        color: var.$text-color;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }

    &__price {
        font-size: 18px;
        font-weight: 700;
        color: var.$primary-color;
    }
}