.seller-tab-container {
    background-color: white;
    max-width: 300px;
    border-radius: 10px;
    max-height: fit-content;
    font-family: 'Poppins', 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    // overflow: hidden;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 12px 16px;
            border-left: 1px solid transparent;
            transition: all 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                background: linear-gradient(90deg, #fff1f1 0%, #fff 100%);
            }

            span {
                display: flex;
                align-items: center;
            }
        }
    }

    .tab--active {
        color: #ec0d0d;
        background: linear-gradient(90deg, #fff1f1 0%, #fff 100%);
        border-left-color: #ec0d0d; // Active indicator
    }
}
