.seller-tab-container {
    background-color: white;
    max-width: 300px;
    border-radius: 20px;
    max-height: fit-content;
    font-family: "Poppins", 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;

    ul {
        li {
            display: flex;
            gap: 5px;
            align-items: center;
            padding: 10px;

            &:hover {
                cursor: pointer;
                background: linear-gradient(90deg, #FFF1F1 0%, #FFF 100%);
            }
        }
    }

    .tab--active {
        color: #EC0D0D;
        background: linear-gradient(90deg, #FFF1F1 0%, #FFF 100%);
    }
}