@use '../../styles/variable.scss' as var;

.service-bar {
    background-color: #1c1c1e;
    color: var.$white-color;
    padding: 24px 0;
    margin-top: 50px;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__icon-wrapper {
        width: 60px;
        height: 60px;
        background-color: var.$white-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        img {
            width: 32px;
            height: 32px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 4px;
        white-space: nowrap;
    }

    &__description {
        font-size: 13px;
        color: #cccccc;
        margin: 0;
        white-space: nowrap;
    }
}

@media (max-width: 992px) {
    .service-bar {
        &__container {
            justify-content: flex-start;
            column-gap: 40px;
            row-gap: 24px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 20px;
        }
    }
}

@media (max-width: 576px) {
    .service-bar {
        &__container {
            grid-template-columns: 1fr;
        }

        &__item {
            justify-content: flex-start;
        }
    }
}
