@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f3f4f6;
    font-size: 1rem;
}

/*Css for button*/
/*************************************************************************************/
.btn-processing {
    border-radius: 10px;
    background: #fef2f2;
    padding: 6px 12px;
    color: #dc2626;
    font-weight: 500;
}

.btn-shipping {
    border-radius: 10px;
    background: #f2f4fe;
    padding: 6px 12px;
    color: blue;
    font-weight: 500;
}

.btn-success {
    border-radius: 10px;
    background: #f5fef2;
    padding: 6px 12px;
    color: #32a82c;
    font-weight: 500;
}

.btn-rebuy {
    border-radius: 10px;
    background: #dc2626;
    padding: 6px 12px;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;

    &:hover {
        background: #b91c1c;
        cursor: pointer;
    }
}

.btn-evaluate {
    border-radius: 10px;
    background: #fef2f2;
    padding: 6px 12px;
    color: #dc2626;
    font-weight: 500;
    border: 2px solid #dc2626;
    transition: all 0.2s ease;

    &:hover {
        background: #dc2626;
        color: #fff;
        cursor: pointer;
    }
}

/*************************************************************************************/
/*End Css for button*/
