$primary-color: #d70018;
$secondary-color: #f8f9fa;
$text-color: #000000;
$white-color: #fff;
$border-color: #e0e0e0;
$font-family: 'Roboto', sans-serif;
$background-color: #f1f1f1;
$background-color: #f1f1f1;
$header-height: 80px;
$background-color: #f1f1f1;
$header-gradient-start: #d23631;
$header-gradient-end: #d9503f;
